<footer>
    <div class="row">
        <div class="small-6 columns">
            <a href="/home" class="icon_footer icon"></a>
        </div>
        <div class="small-6 columns">
        <ul class="social">
            <li><a href="#" class="email_icon icon"></a></li>
            <li><a href="#" class="facebook_icon icon"></a></li>
            <li><a href="#" class="instagram_icon icon"></a></li>
            <li><a href="#" class="pinterest_icon icon"></a></li>
        </ul>
      </div>
    </div>
</footer>
