<header>
    <div class="home-header">
        <div class="nav-bar">
            <div class="row">
                <div class="small-12 columns tac">
                    <a href="/portfolio" class="nav-link">Portfolio</a>
                    <a href="/" class="dib img">
                        <div class="header_logo icon"></div>
                    </a>
                    <div class="main-text">Graphic & Web Designer</div>

                </div>
            </div>
        </div>
    </div>
</header>
