<header id="top">

    {% if page.header %}<div class="home-header">{% endif %}
        <div class="nav-bar">
            <div class="row">
                <div class="small-12 columns tac">
                    {% if page.header %}<a href="/portfolio" class="nav-link">Portfolio</a>{% endif %}
                    <a href="/" class="dib img header-icon">
                        <div class="header_logo icon"></div>
                    </a>
                    <div class="main-text">
                        <h1>Graphic & Web Designer</h1>
                    </div>

                </div>
            </div>
        </div>
    {% if page.header %}</div>{% endif %}
    <div class="sticky-nav nav-bar">
        <div class="row">
            <div class="small-12 columns">
                <a href="/" class="dib img header-icon">
                    <div class="icon_footer icon"></div>
                </a>
                {% if page.header %}<a href="/portfolio" class="nav-link">Portfolio</a>{% endif %}
            </div>
        </div>
    </div>
</header>
