@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,400');

@charset "utf-8";

@import "./lib/pivotl";

// Colors
//
$black: #000000;
$light-black: lighten($black, 25%);
$red: #A94239;
$gray: #c9c4be;
$text: #4f4f4f;
$blue: #c2d7ce;

body {
    font-family: 'Raleway', sans-serif;
}

body {

  .portfolio {
    font-family: 'Raleway', sans-serif;
    .img-cover {
      img {

      }


    }
    h1 {
      font-weight: 800px;
      font-size: 80px;

    }
    h3 {
      font-size: 32px;
    }
    h4 {
      font-size: 24px;
    }
    .title {
      display: inline-block;
      border-bottom: 6px solid #000;
      font-weight: 800;


    }
    .digital {
      color: $blue;
    }
    .print {
      color: $gray;
    }
    .logo {
      color: $red;
    }
    ul {
      list-style-type: none;
      margin-top: 24px;
      li {
        line-height: 32px;
      a {
        text-decoration: none;
        font-size: 24px;
      }
    }
    }
    .title-wrapper {
      background-color: white;
      text-align: center;
      margin-bottom: 24px;
    }
    .content-wrapper {
      background-color: white;
    }
    .portfolio-2 {
      background-color: $blue;
      padding: 32px 0;
      height: 1050px;
      margin-bottom: 32px;

    }
  }


}

a {
    color: $black;
    border-bottom: thin solid transparent;
    transition: border 0.1s ease-in-out;
    &:hover {
        border-bottom: thin solid $black;
    }
    &:active {
        color: $light-black;
        border-bottom: thin solid $light-black;
        transition-duration: 0s;
    }
    &.icon, &.img {
        border-bottom: none;
        &:hover {
            border-bottom: none;
        }
    }
}
//
// header {
//     display: inline-block;
//     width: 100%;
//     background-color: $gray;
// }

// Icons
//
@import '../images/icons/png/icons.css';
@import '../images/icons/svg/view/sprite.css';

span.icon, a.icon {
    display: inline-block;
}
div.icon {
    display: block;
}


// Utilities
//
.dib {
    display: inline-block;
}

.tac {
    text-align: center;
}


// Header
//

header {
    position: relative;
    display: inline-block;
    width: 100%;
    background-color: #efefef;
    z-index: 2;
}

.home-header {
    width: 100%;
    padding: 200px 0 120px 0;
    background-image: url(../images/images/header_background.png);
    background-size: cover;
}

.nav-bar {
    padding: 32px 0;
    background-color: $red;
}

.header-icon {
    margin-bottom: 4px;
}

.nav-link {
    position: absolute;
    right: 16px;
}

.main-text {
    h1 {
        font-size: 18px;
        font-weight: 100;
        margin-bottom: 0;
        text-transform: uppercase;
    }
}

.sticky-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    &.active {
        visibility: visible;
        opacity: 1;
    }
    .nav-link {
        top: 11px;
    }

}


// Footer
//
footer {
    display: inline-block;
    width: 100%;
    background-color: $gray;
    padding: 24px 0;
    ul {
      margin:0;
    }
}
.social {
    float: right;
    font-size: 0;
    li {
        display: inline-block;
        margin-left: 8px;
    }
}
