@charset "utf-8";

@import "./lib/pivotl";

// Colors
//
$black: #000000;
$red: #A94239;
$gray: #c9c4be;


body {

}

a {
    color: $black;
    border-bottom: thin solid transparent;
    transition: border 0.1s ease-in-out;
    &:hover {
        border-bottom: thin solid $black;
    }
    &:active {
        color: $gray;
        border-bottom: thin solid $gray;
        transition-duration: 0s;
    }
    &.icon, &.img {
        border-bottom: none;
        &:hover {
            border-bottom: none;
        }
    }
}
//
// header {
//     display: inline-block;
//     width: 100%;
//     background-color: $gray;
// }

// Icons
//
@import '../images/icons/png/icons.css';
@import '../images/icons/svg/view/sprite.css';

span.icon, a.icon {
    display: inline-block;
}
div.icon {
    display: block;
}


// Utilities
//
.dib {
    display: inline-block;
}

.tac {
    text-align: center;
}


// Header
//

header {
    display: inline-block;
    width: 100%;
    background-color: #efefef;
}

.home-header {
    width: 100%;
    padding: 200px 0 120px 0;
    background-image: url(../images/images/header_background.png);
    background-size: cover;
}

.nav-bar {
    padding: 32px 0;
    background-color: $red;
}

.header-icon {
    margin: 0 auto;
}

.nav-link {
    position: absolute;
    right: 16px;
}


// Footer
//
footer {
    display: inline-block;
    width: 100%;
    background-color: $gray;
    padding: 24px 0;
    ul {
      margin:0;
    }
}
.social {
    float: right;
    li {
        display: inline-block;
    }
}
