@charset "utf-8";

@import "./lib/pivotl";

body {

}

header {
    display: inline-block;
    width: 100%;
    background-color: #efefef;
}

footer {
    display: inline-block;
    width: 100%;
    background-color: #efefef;
}

// Icons
//
@import '../images/icons/png/icons.css';
@import '../images/icons/svg/view/sprite.css';
