
.no-svg .email_icon {
  background-image: url(icons.png);
  background-position: 0px 0px;
  width: 36px;
  height: 36px;
}

.no-svg .facebook_icon {
  background-image: url(icons.png);
  background-position: -36px 0px;
  width: 36px;
  height: 36px;
}

.no-svg .header_logo {
  background-image: url(icons.png);
  background-position: -72px 0px;
  width: 158px;
  height: 126px;
}

.no-svg .icon_footer {
  background-image: url(icons.png);
  background-position: -230px 0px;
  width: 36px;
  height: 31px;
}

.no-svg .icon_home_welcome {
  background-image: url(icons.png);
  background-position: -266px 0px;
  width: 63px;
  height: 54px;
}

.no-svg .icon_home_welcome_white {
  background-image: url(icons.png);
  background-position: -329px 0px;
  width: 63px;
  height: 54px;
}

.no-svg .icon_logo_blk {
  background-image: url(icons.png);
  background-position: -230px -54px;
  width: 66px;
  height: 54px;
}

.no-svg .icon_logo_gray_sm {
  background-image: url(icons.png);
  background-position: -296px -54px;
  width: 38px;
  height: 31px;
}

.no-svg .icon_logo_green_sm {
  background-image: url(icons.png);
  background-position: -334px -54px;
  width: 38px;
  height: 31px;
}

.no-svg .icon_logo_red_sm {
  background-image: url(icons.png);
  background-position: -296px -85px;
  width: 38px;
  height: 31px;
}

.no-svg .instagram_icon {
  background-image: url(icons.png);
  background-position: -334px -85px;
  width: 36px;
  height: 36px;
}

.no-svg .pinterest_icon {
  background-image: url(icons.png);
  background-position: -230px -121px;
  width: 36px;
  height: 36px;
}

