.email_icon {
	background: url("svg/sprite.view.svg") 0 100% no-repeat;
}

.email_icon {
	width: 38px;
	height: 38px;
}

.facebook_icon {
	background: url("svg/sprite.view.svg") 20% 100% no-repeat;
}

.facebook_icon {
	width: 38px;
	height: 38px;
}

.header_logo {
	background: url("svg/sprite.view.svg") 0 0 no-repeat;
}

.header_logo {
	width: 160px;
	height: 128px;
}

.icon_footer {
	background: url("svg/sprite.view.svg") 97.36842105263158% 67.72486772486772% no-repeat;
}

.icon_footer {
	width: 38px;
	height: 33px;
}

.icon_home_welcome {
	background: url("svg/sprite.view.svg") 98.15950920245399% 33.734939759036145% no-repeat;
}

.icon_home_welcome {
	width: 65px;
	height: 56px;
}

.icon_home_welcome_white {
	background: url("svg/sprite.view.svg") 0 77.10843373493977% no-repeat;
}

.icon_home_welcome_white {
	width: 65px;
	height: 56px;
}

.icon_logo_blk {
	background: url("svg/sprite.view.svg") 100% 0 no-repeat;
}

.icon_logo_blk {
	width: 68px;
	height: 56px;
}

.icon_logo_gray_sm {
	background: url("svg/sprite.view.svg") 34.57446808510638% 67.72486772486772% no-repeat;
}

.icon_logo_gray_sm {
	width: 40px;
	height: 33px;
}

.icon_logo_green_sm {
	background: url("svg/sprite.view.svg") 55.851063829787236% 67.72486772486772% no-repeat;
}

.icon_logo_green_sm {
	width: 40px;
	height: 33px;
}

.icon_logo_red_sm {
	background: url("svg/sprite.view.svg") 77.12765957446808% 67.72486772486772% no-repeat;
}

.icon_logo_red_sm {
	width: 40px;
	height: 33px;
}

.instagram_icon {
	background: url("svg/sprite.view.svg") 40% 100% no-repeat;
}

.instagram_icon {
	width: 38px;
	height: 38px;
}

.menu-icon {
	background: url("svg/sprite.view.svg") 31.40096618357488% 78.53658536585365% no-repeat;
}

.menu-icon {
	width: 21px;
	height: 17px;
}

.pinterest_icon {
	background: url("svg/sprite.view.svg") 60% 100% no-repeat;
}

.pinterest_icon {
	width: 38px;
	height: 38px;
}

